@use "../../styles/colors" as colors;
@use "../../styles/fonts" as fonts;

.product-card-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10%;
    border: .5px solid #ADADAD;

    &:hover {
        & button {
            display: initial;
        }

        & .product-card-container-information {
            display: none;
        }
    }

    &-image-block {
        min-height: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & button {
        display: none;
        width: 140;
        height: 42;
        margin-top: 20px;
        border-radius: 8px;
        background-color: colors.$primary-color;
        font-family: "Montserrat-Regular";
        font-weight: 500;
        font-size: 18px;
        line-height: 21.94px;
        letter-spacing: 0%;
        text-align: center;
        align-self: center;
        color: colors.$text-color-reverse;
    }

    &-information {
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;
        & span, strong {
            font-weight: 500;
            font-size: 19px;
            line-height: 23.16px;
            letter-spacing: 0%;
            text-align: center;        
        }

        & span {
            font-family: fonts.$sf;
        }
    
        & strong {
            font-weight: 900;
            font-family: fonts.$sf-heavy;
        }
    }
}

@media (max-width: 768px) {
    .product-card-container {
        &:hover {
            & button {
                display: initial;
            }
            & .product-card-container-information {
                display: flex;
            }
        }
        &:active {
            & button {
                display: initial;
            }
            & .product-card-container-information {
                display: flex;
            }
        }
        & button {
            display: initial;
            width: 162.14634704589844;
            height: 39.55609130859375;
            border-radius: 8px;
            margin-top: 0px;
        }

        &-image-block {
            min-height: 340px;
        }

        &-information {
            & span, strong {
                font-size: 18px;    
            }
        }
    }
}