@use "../../styles/colors" as colors;
@use "../../styles/fonts" as fonts;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    width: 965px;
    height: 700px;
    border-radius: 40px;
    background: #fff;
    position: relative;
    transform: scale(0.8);
    transition: transform 0.3s ease;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    .modal.active & {
      transform: scale(1);
    }

    &-information {
      padding: 50px;
      display: flex;
      flex-flow: column nowrap;
      gap: 40px;
      align-items: flex-start;
      justify-content: flex-start;

      & span {
        font-family: fonts.$montserrat;
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 26.82px;
        letter-spacing: 0%;
      }

      & h3 {
        font-family: fonts.$montserrat-bold;
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 48.76px;
        letter-spacing: 0%;
      }

      & input {
        font-family: fonts.$montserrat;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 24.38px;
        letter-spacing: 0%;
        border-bottom: 3px solid colors.$primary-color;
        padding: 10px 0px 5px 10px;
        width: 100%;
        &::placeholder {
          color: colors.$input-color;
        }
        &:focus {
          outline: none;
        }
      }

      & button {
        width: 331px;
        height: 57px;
        border-radius: 10px;
        margin-top: 20px;
        align-self: center;
        background-color: colors.$primary-color;
        color: colors.$text-color-reverse;
        font-family: fonts.$montserrat;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 24.38px;
        letter-spacing: 0%;
        text-align: center;
      }

      &-contacts-block {
        align-self: center;
        margin-top: -20px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        & a {
          font-size: 1.2rem;
          font-family: fonts.$montserrat;
          font-weight: 500;
          color: colors.$input-color;
          text-decoration: none;
        }
        &-icons-block {
          margin-top: 3px;
          display: flex;
          flex-flow: row nowrap;
          gap: 5px;
          align-items: center;
          justify-content: center;
          
          & svg {
            cursor: pointer;
            &:first-child {
              margin-top: 5px;
            }
            &:last-child {
              margin-top: -3px;
            }
          }
        }
      }
    }

    &-photo {
      position: relative;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: center;
      background-color: colors.$hand-color;

      & h2 {
        position: absolute;
        top: 100px;
        left: 160px;
        z-index: 2;
        font-family: fonts.$russo;
        font-weight: 400;
        font-size: 2.1875rem;
        line-height: 42.18px;
        letter-spacing: 0%;
        text-align: center;
        color: colors.$text-color-reverse;
      }

      &-image {
        z-index: 1;
        transform:  rotate(-90deg)
                    scale(1.8)
                    translate(10px, 40px)
                    scaleY(-1);
      }

      &-text-block {
        @include colors.bg-phone-gradient;
        position: absolute;
        z-index: 2;
        font-family: fonts.$montserrat;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 22.67px;
        letter-spacing: 0%;
        text-align: start;
        padding: 20px 0px 20px 20px;
        height: 83;

        &[data-text="1"] {
          top: 175px;
          left: 128px;
          width: 169px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }

        &[data-text="2"] {
          top: 315px;
          left: 204px;
          width: 177px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        &[data-text="3"] {
          top: 455px;
          left: 128px;
          width: 205px;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .modal__content-information {
    gap: 30px;
    h3 {
      font-family: fonts.$montserrat-semi-bold, fonts.$montserrat;
      width: 100%;
      font-size: 2.4rem; 
    }

    span {
      font-size: 1.275rem;
      width: 100%;
    }

    &__tile {
      align-self: center;
      text-align: center;
      color: colors.$input-color;
    }
  }
}

@media (max-width: 450px) {
  .modal__content {
    max-width: 80vw;
    max-height: 90vh;
    padding: 0px;
  }

  .modal__content-information {
    padding: 4%;
    max-width: 80vw;
    h3 {
      margin-top: 20px;
      font-size: 1.1rem;
      text-align: left;
      line-height: 30px;
    }

    span {
      font-size: .9rem;
    }

    input {
      font-size: .9rem;
    }

    button {
      max-width: 90%;
    }

    &__tile {
      margin-top: -25px;
    }

    &-contacts-block {
      align-self: center;
      margin-top: -20px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      & a {
        font-size: 1rem;
        font-family: fonts.$montserrat;
        font-weight: 500;
        color: colors.$input-color;
        text-decoration: none;
      }
      &-icons-block {
        margin-top: 3px;
        display: flex;
        flex-flow: row nowrap;
        gap: 5px;
        align-items: center;
        justify-content: center;
        
        & svg {
          cursor: pointer;
          &:first-child {
            margin-top: 5px;
          }
          &:last-child {
            margin-top: -3px;
          }
        }
      }
    }
  }
}

.input {
  &::placeholder {
    color: gray;
  }
}

.input-error {
  &::placeholder {
    color: #ff2c00 !important;
  }
}