@use "../../styles/colors" as colors;
@use "../../styles/fonts" as fonts;


.gurantee-block {
  @include colors.bg-gradient;
  position: relative;
  flex-grow: 1;
  flex-shrink: 100%;
  padding-top: 3%;
  overflow: hidden;
  width: 544px;
  height: 385px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0px;

  & h3 {
    font-size: 2rem;
    line-height: 39.01px;
    font-family: fonts.$montserrat-bold;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
  }

  & span {
    padding-top: 20px;
    font-family: fonts.$montserrat;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 24.38px;
    text-align: center;
  }

  &-image {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .gurantee-block {
    width: 267px;
    height: 216px;
    padding-top: 0%;

    & h3 {
      position: absolute;
      top: 10%;
      left: 5%;
      font-size: .85rem;
      line-height: 19.5px;
      width: 100%;
    }

    & span {
      position: absolute;
      top: 13%;
      left: 35%;
      font-size: 0.8125rem;
      line-height: 24.38px;
    }

    &-image {
      margin-top: 75px;
    }
  }
}