@use "../../styles/colors" as colors;
@use "../../styles/fonts" as fonts;


.gurantee-block {
  @include colors.bg-gradient;
  flex-grow: .5;
  padding-top: 3%;
  overflow: hidden;
  width: 544px;
  height: 385px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0px;

  & h3 {
    font-size: 32px;
    line-height: 39.01px;
    font-family: fonts.$montserrat-bold;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
  }

  & span {
    padding-top: 20px;
    font-family: fonts.$montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
  }
}