$bg-color: #fff;
$footer-color: #333333;
$primary-color: #004BEC;
$secondary-color: #4D85FF;
$text-color: #000000;
$text-color-reverse: #fff;
$bg-color-credit: #F4F4F4;
$input-color: #7C7C7C;
$hand-color: #DFDFDF;
$border-color: #ADADAD;


@mixin bg-gradient {
  background: linear-gradient(180deg, #F4F4F4 0%, #4D85FF 360.62%);
}

@mixin bg-phone-gradient {
  background: linear-gradient(93.17deg, #FFFFFF 62.1%, #999999 204.45%);
}